# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Django database
db.sqlite3

# Log files
*.log

# Environments
venv/
.env

# Static and media files
/staticfiles/
media/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
