{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body class="home">
    <div class="all">
        <div class="box1">
            <h1>ICT Department</h1>
            <h3>Mathenge Technical Training institute</h3>
            <p>We're glad you're here. Click the button below to provide</p>
            <p>your feedback and suggestions</p>

            <form action="{% url 'see' %}">
                <button type="submit">Give Feedback</button>
            </form>
        </div>
    <div class="about">
        <h2 class="title1">
            About Our Department
        </h2>
        <p>
            The ICT Department at Mathenge Training Technical Institute
            is dedicated to training competent<br>professionals in 
            Information
            Communication Technology. We focus on providing the 
            <br>handskills to you our students
        </p>
    </div>
    <h2 class="title1">Our Mission & Vision</h2>
    <div class="sections">
        <div class="one">
            <h3 class="title1">Mission</h3>
            <p>
                To equip student with practical ICT skills<br>
                innovation mindest, and industry ready competencies
            </p>
        </div>
        <div class="one">
            <h3 class="title1">
                Vision
            </h3>
            <p>
                To be leading center of excelence in ICT Training <br> 
                and digital information
            </p>
        </div>
        <div class="one">
            <h3 class="title1">
                Core Values
            </h3>
            <p>
                Innovation, integrity, Excellence, Collaboration,
                <br> Professionalism
            </p>
        </div>
    </div>
    <footer class="foot">
        <p>
            @2026 ICT Department | Mathenge Technical Training Institute
        </p>
    </footer>
    </div>
    
</body>
</html>